* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient( circle farthest-corner at 6.6% 12%,  rgb(0, 63, 145) 20.8%, rgb(252, 252, 136) 100.2% );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
